<h2>Invoice Id: <%= @invoice.id %> Show Page </h2>

<div id="invoice-revenue">
  <p>Total Non-Discounted Revenue: <%= number_to_currency(@invoice.items.total_revenue_of_all_items/100.00) %></p>
  <p>Total Discounted Revenue: <%= number_to_currency(@invoice.discounted_revenue_of_invoice/100.00) %></p>
</div>

<div id="invoice-info">
  <p>Invoice Id: <%= @invoice.id %></p>
  <p>Invoice Status: <%= @invoice.status %></p>
  <p>Invoice Created: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
  <p>Customer Name: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
</div>

<div id="invoice-items-info">

  <% @invoice.items.each do |item| %>
    <p>Item Name: <%= item.name %></p>
    <p>Item Price: <%= number_to_currency(item.unit_price/100.00) %></p>
    <p>Item Quantity: <%= item.quantity_purchased(@invoice.id) %></p>
    <p>Item Shipping Status: <%= item.shipping_status(@invoice.id) %>  
      <p id="item-<%= item.id %>-discount">
      <% if item.find_discount != nil %>
        <%= link_to "View Discount Info", merchant_discount_path(@merchant, item.find_discount) %>
      <% end %>
      </p>
    </p>

    <%= form_with model: [@merchant, @invoice], local: true do |form| %>
      <%= form.label :item_id %>
      <%= form.hidden_field :item_id, value: "#{item.id}" %>
      <%= form.label :status, "Invoice Item Status: " %>
      <%= form.select :status, [["Pending", :pending], ["Packaged", :packaged], ["Shipped", :shipped]], selected: "#{item.shipping_status(@invoice.id)}" %>
      <%= form.submit "Update Item Status" %>
    <% end %>
  <% end %>
</div>

