<%= form_with model: [@merchant, @discount], local: true  do |form| %>
<h2>Create A New Discount:</h2>
    <%= form.label :discount, "Discount Percentage (as decimal):" %>
    <%= form.number_field :discount, placeholder: '0.75 = 75%', step: 0.05 %>
    <%= form.label :threshold, "Minimum Order Quantity:" %>
    <%= form.number_field :threshold, placeholder:'5'%>
    <%= form.submit %>
<% end %>