<%= form_with model: [@merchant, @discount], local: true  do |form| %>
<h2>Create A New Discount:</h2>
    <%= form.label :discount, "Discount Percentage:" %>
    <%= form.text_field :discount, value: @discount.discount.round(3)%>
    <%= form.label :threshold, "Minimum Order Quantity:" %>
    <%= form.text_field :threshold %>
    <%= form.submit %>
<% end %>