<h1>Bulk Discounts for <%= @discounts.first.merchant.name %></h1>

<div id="merchant-<%= @discounts.first.merchant.id%>-discounts">
  <h2> Avalible Discounts:</h2>
    <ol>
      
      <% @discounts.each do |discount| %>
        <div id="discount-<%= discount.id%>">
          <li>Discount: <%= discount.discount.round(2)*100 %>%
            <p>Minumum Order Quantity: <%= discount.threshold %></p>
          </li>
        </div>
      <% end %>
      
    </ol>
</div>